# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.pem
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Metro
.metro-health-check*

# Env
.env*

# Claude Code (개인 로컬 설정)
.claude/settings.local.json

# Logs
*.log

# Testing
coverage/

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
